@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Universal */
* {
  box-sizing: border-box;
}

:root {
  --main-color: #3c65d6;
  --secondary-color: #fff;
  --tertiary-color: #ddd;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.screen {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transform: translateY(0vh);
  transition: transform 1s linear;
}

/* Title Screen */
#play-btn {
  background-color: var(--secondary-color);
  border: none;
  color: var(--main-color);
  font-family: inherit;
  padding: 15px 20px;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

#play-btn:hover {
  background-color: var(--tertiary-color);
}

#play-btn:focus {
  background-color: var(--tertiary-color);
}

#play-btn:active {
  background-color: var(--secondary-color);
}

/* Select Screen */
.select-screen ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select-screen li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.insect-btn {
  background-color: var(--main-color);
  color: inherit;
  font-family: inherit;
  height: 140px;
  width: 140px;
  border: 1px solid #fff;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.insect-btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

.insect-btn:focus {
  background-color: #fff;
  color: var(--main-color);
}

.insect-btn:active {
  background-color: var(--main-color);
  color: #fff;
}

.insect-btn p {
  font-size: 0.8rem;
}

.insect-btn img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  object-position: center;
}

/* Game Screen */
.game-screen header {
  width: 100%;
  height: 70px;
}

.game-screen ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
}

.game-screen .play-area {
  height: calc(100% - 70px);
  width: 100%;
  padding: 50px;
  display: relative;
}

.game-screen img {
  height: 90px;
  width: 90px;
  object-fit: contain;
  object-position: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.game-screen .message {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  padding: 15px 0;
  top: 200px;
  left: 0;
  transform: translateY(-300px);
  transition: transform 1s linear;
}

.game-screen .message.show {
  transform: translateY(0);
}
